.container{
    margin: 100px;
}
.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}
.orange-bg{
    background-image: linear-gradient(to bottom, #e0a6e7 0%, #fceae8 100%);
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%,#FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(to bottom, #df7f02 0%, #ffb700 100%);
    padding: 10px 30px;
}
.cat2{
    background-image: linear-gradient(to bottom, #a1088c 0%, #ff00e9 100%);
}
.cat3{
    background-image: linear-gradient(to bottom, #090979 0%, #00d4ff 100%);
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 5px 5px 10px;
    box-shadow: 5px 5px 10px lightgray;

}
.card-footer{
    background-color: white;
    border-top: none;

}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
.submit-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    margin-top: 8px;
    cursor: pointer;
}
footer{
    text-align: center;
}